{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% block branding %}
<a class="app-header__logo" href="{% url 'admin:index' %}" style="white-space:pre">{{ site_header|default:'三酷猫课堂' }}</a>
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block coltype %}colM{% endblock %}
{% block content %}
<div class="row">
{% for icon in icons %}
    <div class="col-md-6 col-lg-3">
      <div class="widget-small {{ icon.style }} coloured-icon"><i class="icon fa {{ icon.icon|default:'fa-users' }} fa-3x"></i>
        <div class="info">
          <h4>{{ icon.title }}</h4>
            <a href="{{ icon.link }}"><p><b>{{ icon.value }}</b></p></a>
        </div>
      </div>
    </div>
{% endfor %}

</div>
{% endblock %}