{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<!--<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />-->
<style>
  #content {
padding:0px;
}
</style>
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }}{% endblock %}

{%block appheader%}{% endblock %}
{% block aside %}{% endblock %}
{% block usertools %}{% endblock %}
{% block coltype %}colM{% endblock %}
{% block nav-global %}{% endblock %}

{% block content_title %}
<section class="material-half-bg">
  <div class="cover"></div>
</section>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<div class="alert alert-dismissible alert-danger">
    <button class="close" type="button" data-dismiss="alert">×</button>
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
<div/>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-dismissible alert-danger">
    <button class="close" type="button" data-dismiss="alert">×</button>
    {{ error }}
</div>
{% endfor %}
{% endif %}

<div id="content-main" class="login-content">
<div class="logo">
  <h1>{{ site_header|default:_('Django administration') }}</h1>
</div>
{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}
<div class="login-box">
  <form action="{{ app_path }}" method="post" id="login-form" class="login-form">{% csrf_token %}
    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>登录</h3>
    <div class="form-group">
      <label class="control-label" for="id_username">用户名:</label>
      <input class="form-control" autofocus="" id="id_username" maxlength="254" name="username" type="text" required="" placeholder="请输入用户名">
    </div>
    <div class="form-group">


      <label class="control-label" for="id_password">密码:</label>
      <input id="id_password" class="form-control" name="password" type="password" required="" placeholder="请输入密码">
      <input type="hidden" name="next" value="{{ next }}" />
    </div>

    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
        <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
                <label>
                  <input type="checkbox"><span class="label-text">保持登录</span>
                </label>
              </div>
              <p class="semibold-text mb-2"><a data-toggle="flip" href="{{ password_reset_url }}">忘记密码？</a></p>
            </div>
          </div>
    {% endif %}
    <div class="form-group btn-container">
      <button type="submit" class="btn btn-primary btn-block" ><i class="fa fa-sign-in fa-lg fa-fw"></i>{% trans 'Log in' %}</button>
    </div>
  </form>
  <form class="forget-form" action="index.html">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>
</div>
</div>
{% endblock %}
{% block content_clear %}{% endblock %}
{% block footer %}{% endblock %}