{% load i18n static %}
{% if cl.search_fields %}
<div id="dj-toolbar" class="row" style="padding-top:8px">
    <form id="changelist-search" class="form-horizontal col-md-12" method="get" style="padding-left:0px">
        <div class="col-md-12"><!-- DIV needed for valid HTML -->
            <span class="btn" style="width:100%;overflow:hidden;display:flex;text-align:left"><div style="margin-top:4px;width:60px;float:left">查找:</div>
            <input type="text" placeholder="查找" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar1" autofocus class="form-control"/>
            <button type="submit" style="margin-left: -25px;margin-right:-10px;margin-bottom:6px;border: 0; color: rgba(0, 0, 0, 0.4);background:none;">
                <i class="fa fa-search"></i>
            </button>
            {% if False and show_result_count %}
                <span class="small quiet">
                    {% blocktrans count counter=cl.result_count %}
                    {{ counter }} result{% plural %}{{ counter }} results
                    {% endblocktrans %} (
                    <a href="?{% if cl.is_popup %}_popup=1{% endif %}">
                        {% if cl.show_full_result_count %}
                            {% blocktrans with full_result_count=cl.full_result_count %}
                                {{ full_result_count }} total
                            {% endblocktrans %}
                        {% else %}
                            {% trans "Show all" %}
                        {% endif %}
                    </a>)
                </span>
            {% endif %}
            {% for pair in cl.params.items %}
                {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endif %}
            {% endfor %}
                </span>
        </div>
    </form>
</div>
{% endif %}
